# Environment files
.env
.env.local
.env.*.local
.env.development
.env.production

# Dependencies
node_modules
dist

# Logs
logs
*.log
npm-debug.log*

# Editor directories and files
.vscode/*
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.vercel
